.record-card {
  span {
    opacity: 0.7;
    font-weight: 200;
  }

  box-shadow: 0 1px 3px 0 rgba(245, 245, 245, 0.3);

  .btn-edit {
    background-color: #62a178;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    &:hover {
      background-color: darken(#62a178, 10%);
    }
  }

  .btn-delete {
    background-color: #eb5a2a;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    &:hover {
      background-color: darken(#eb5a2a, 10%);
    }
  }
}
